body {
  margin: 10;
  text-align: left;
  font-family: 'Noto Sans SC', sans-serif;
}

h1 {
  color: #a685e2;
}

h3 {
  color: #a685e2;
}

.Koshiro-profile {
  position: absolute;
  top: 20px;
}

.Profiles-intro {
  height: 450px;
  width: 650px;
  position: absolute;
  left: 320px
}

.Basic-info {
  position: absolute;
  top: 280px;
  width: 100%;
}

.Biography {
  position: absolute;
  top: 460px;
  width: 100%;
}

.Koshiro-qrcode {
  position: absolute;
  top: 295px;
  left: 400px;
}

.Ryuu-qrcode {
  position: absolute;
  top: 295px;
  left: 820px;
}

.Koshiro-emergency {
  position: absolute;
  top: 425px;
  left: 430px;
}

.Wechat-qrcode-text {
  position: absolute;
  top: 425px;
  left: 842px;
}


.Emergency-text {
  position: absolute;
  top: 280px;
  left: 555px;
  color: red;
}
