body {
  margin: 10;
  text-align: left;
  font-family: 'Noto Sans SC', sans-serif;
}

h1 {
  color: #a685e2;
}

h3 {
  color: #a685e2;
}

.Koshiro-profile {
  position: absolute;
  top: 10px;
}

.Profiles-intro {
  height: 450px;
  width: 650px;
  position: absolute;
  left: 320px
}

.Basic-info {
  position: absolute;
  top: 260px;
  width: 1000px;
}

.Biography {
  position: absolute;
  top: 460px;
  width: 1000px;
}

.Koshiro-qrcode {
  position: absolute;
  top: 295px;
  left: 390px;
}

.Ryuu-qrcode {
  position: absolute;
  top: 295px;
  left: 820px;
}

.Koshiro-emergency {
  position: absolute;
  top: 425px;
  left: 420px;
}

.Wechat-qrcode-text {
  position: absolute;
  top: 425px;
  left: 842px;
}


.Emergency-text {
  position: absolute;
  top: 280px;
  left: 555px;
  color: #6155a6;
}

.Koshiro-childhood-outside {
  text-align: center;
}
